.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #d3d3d300;
}

.board {
  margin-bottom: 200px;
}

.engineButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.stockfish {
  display: flex; 
  justify-content: space-between; 
  max-width: 400px; 
}

.stockfish div {
  margin: 10px;
}

#stockfishLevel, #stockfishDepth {
  width: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.player-selection {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
}

.player label {
  margin-bottom: 5px;
}

.stockfish-settings {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
}

.setting {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
}

.setting label {
  margin-bottom: 5px;
}

input[type="number"] {
  width: 100%;
  max-width: 200px;
  padding: 5px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

select {
  width: 100%;
  max-width: 200px;
  padding: 5px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.google-button {
  background-color: #4285f4; /* Google's blue color */
  color: #ffffff; /* White text */
  border: none; /* No border */
  border-radius: 4px; /* Slightly rounded corners */
  padding: 10px 20px; /* Padding for a comfortable size */
  font-size: 14px; /* Font size */
  font-weight: 500; /* Medium weight */
  text-align: center; /* Centered text */
  cursor: pointer; /* Pointer cursor on hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Slight shadow for raised effect */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
}

.google-button:hover {
  background-color: #357ae8; /* Slightly darker blue on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
}

.google-button:active {
  background-color: #3367d6; /* Even darker blue on active */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Reduced shadow on active */
}

.google-button:disabled {
  background-color: #a6c8ff; /* Lighter blue for disabled state */
  cursor: not-allowed; /* Not-allowed cursor */
  box-shadow: none; /* No shadow for disabled state */
}

.result {
  background-color: #ffeb3b; /* Bright yellow background */
  color: #2c3e50; /* Dark text color for contrast */
  font-size: 2em; /* Large text size */
  font-weight: bold; /* Bold text */
  padding: 20px; /* Padding for space around the text */
  border-radius: 10px; /* Rounded corners */
  text-align: center; /* Center the text */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add some shadow for depth */
  border: 3px solid #f39c12; /* Orange border */
  margin: 20px auto; /* Center the div horizontally */
  max-width: 400px; /* Limit the width of the message box */
  animation: celebratoryAnimation 2s ease-in-out infinite alternate; /* Add animation */
}

@keyframes celebratoryAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.flip-button {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 30px;
  justify-content: center;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.flip-button:hover {
  background-color: #0056b3;
}

.flip-button .icon {
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.flip-button:hover .icon {
  transform: rotateY(180deg);
}